
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@700&family=Lemon&family=Mulish:wght@600&family=Poppins:wght@500&family=Protest+Strike&family=Salsa&display=swap');



  :root {
    --fjilla-font: 'Fjalla One', sans-serif;
    --lato-font: 'Lato', sans-serif;
    --lemon-font: 'Lemon', serif;
    --poppins-font: 'Poppins', sans-serif;
    --salsa-font: 'Salsa', cursive;
    --mulish-font:'Mulish', sans-serif;
    --P_strike-font:'Protest Strike', sans-serif;
    --light-black: #2e2c2caf;
    --bggradient:linear-gradient(90deg,rgba(20,20,20,0.75) 5%, rgba(0,0,0,0.07) 50%);
    --bg-section1: linear-gradient(to right, #4688ce, #ffffff);
    --light-grey: rgba(255, 255, 255, 0);

}






* {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

header .searchbar {
    margin-right: 7px;
    border-radius: 5px;
}


.navbar-brand {
    float: left;
    margin-left: 50px;
}

.btn-circle {
    width: 50px; /* Set width and height to be equal */
    height: 50px;
    border-radius: 70%; /* Make it circular */
    margin-right: 10px;
  }


.carousel-inner {
    height: calc(100vh - 75px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


.carousel-item {
    position: relative; /* Ensure relative positioning for absolute positioning of text */
}

.carousel-item::before {
    content: ""; /* Add content for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0; /* Align to the top of the carousel item */
    left: 0; /* Align to the left of the carousel item */
    width: 100%; /* Cover the entire width of the carousel item */
    height: 100%; /* Cover the entire height of the carousel item */
    /* background: linear-gradient(0deg , rgb(20,20,20)3%,rgba(0,0,0,0.07),30%); */
    background-image: var(--bggradient);
    z-index: 1; /* Ensure the gradient is behind the image */
}

.carousel-item img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
}

 .carousel-item .carousel-caption {
    position: absolute; 
    top: 35%; 
    left: 5%; 
    transform: translateY(-50%); /* Center vertically */
    color: #fff; /* Text color */
    /* Semi-transparent background */
    padding: 20px; 
    max-width: calc(50% - 100px);
    max-height: fit-content; 
    z-index: 10;
}

.carousel-item .carousel-caption h1 {
    
    font-family: var(--salsa-font);
    font-size: 5rem;
}

.carousel-item .carousel-caption p {
    
    font-family: var(--poppins-font);
}

.carousel-item .carousel-caption h1 {
    margin-bottom: 10px;
}


/* ---------------------------------------------LOGIN-PAGE---------------------------------------- */
header .wrapper {
    position: absolute;
    z-index: 9999;
    top: 22vh;
    left: 35vw;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid red;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: blur(10px);
    transition: transform .5s ease, height .4s ease;
    transform: scale(0);
    overflow: hidden;
}
header .wrapper.active{
    height: 440px;
}

header .wrapper.active-popup{
    transform:scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform:translateX(-400px);
}



.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
}

.wrapper .form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.wrapper .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.wrapper .input-box input:focus~label,
.wrapper .input-box input:valid~label {
    top: -5px;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.wrapper .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}
.wrapper .remember-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forget a{
    color: #162938;
    text-decoration: none;

}
.remember-forget a:hover{
    text-decoration: underline;
}

.wrapper form .btn{
    width: 100%;
    height: 45px;
    background:#162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover{
    text-decoration: underline;
}



header .wrapper .form-box {
    width: 100%;
    padding: 40px;
    text-align: center;
}
/* ----------------------------------   LOGIN-PAGE---------------------------- */
